body,html{
	height: 100%;
	padding:0;
	padding:0;
	margin:0;
	background-color:#ffffff;
}
#header{
 	background-color:#f4500c;
 	width:100%;
 	height:40%;
 	color:#ffffff;
 	margin-top:0;
 	display: flex;
 	align-items: center;
 	justify-content: center;
}
#header-text{
 	font-size:3vw;
 	text-align: center;
 	font-family: "sans serif";
	margin:0;
	padding:0;
	line-height: 0.1rem;
}
#subtitle{
	margin: 0;
	font-size:1.2vw;
}
#chat-client{
	display:flex;
	height:75vh;
	padding:1.3rem;
}
#room-list{
	width:30%;
	/*background-color: #DEDDED;*/
	padding:0;
	/*box-shadow:1px 1px 2px 1px;*/
}
.room-name{
	text-align: center;
	padding:1rem;
	margin: 2px;
	font-size:2rem;
	border:1.5px solid black;
	background-color: white;
	/*color:white;*/
}
.room-name:hover{
	transform: scale(1.04);
}
.new-messages{
	color:orange;
}

.active-room{
	background-color: #1595d6;
	color:white;
	border:1.5px solid black;
}
#current-room{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#message-feed{
	background-color: #ebebeb;
	box-shadow:2px 2px 5px 1px;
	width:87%;
	height: 90%;
	overflow-y :scroll;
	position: relative;
}
.message-display{
	padding-left:1rem;
	padding-top:1rem;
	font-size:1.2rem;
	height: 100%;
	position: absolute;
	display: none;
}
#input-div{
	margin-top:2rem;
	width:40%;
}
#input-field{
	width:97%;
	padding:0.4rem;
	font-size:1rem;
	border: 1.5px solid black;
	background-color: #DEDDED;
	/*border-color: #2d302f;*/
	/*border-radius:25px;*/
}

.system-notification{
	color:red;
}

@media (max-width:600px){
	#header-text{
		font-size:8vw;
	}
	#subtitle{
		font-size:3vw;
	}
	#chat-client{
		padding-right: 0;
	}
	#message-feed{
		font-family:Helvetica;
		font-size:5vw;
		height:80vh;
		width:90%; 
	}
	#room-list{
		height:90%;
	}
	.room-name{
		font-size:1rem;
		padding:0.5rem;
		border-width: 1px
	}
	#input-field{
		width:95%;
		border: 1px solid black;
		border-radius:25px;
	}

}

