body,html{
	height: 100%;
	padding:0;
	padding:0;
	background-color:#c9ced3;
}
#header{
 	text-align:center;
 	font-family: monospace;
 	font-size:3vw;
}
#chat-client{
	display:flex;
	height:75vh;
}
#room-list{
	width:30%;
	background-color: #1783ef;
	padding:0;
}
.room-name{
	text-align: center;
	padding:1rem;
	margin: 2px;
	font-size:2rem;
	background-color: white;
	box-shadow:1px 2px 3px 1px;
	/*color:white;*/
}
.room-name:hover{
	transform: scale(1.01);
}
.new-messages{
	color:red;
}

.active-room{
	border-color:white;
	border-style: inset;
	background-color: blue;
	color:white;
}
#current-room{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	/*color:white;*/
}


#message-feed{
	--message-box-width:87%;
	background-color: white;
	box-shadow:1px 2px 3px 1px;
	width:var(--message-box-width);
	height: 90%;
	overflow :scroll;
	position: relative;
}
.message-display{
	padding-left:1rem;
	padding-top:1rem;
	font-size:1.2rem;
	height: 100%;
	position: absolute;
	display: none;
}
#input-div{
	margin-top:2rem;
}
#input-field{
	width:97%;
	padding:0.4rem;
	font-size:1rem;
	border-width: 3px;
	border-style: inset;
	border-color: #1287cc;
}

.system-notification{
	color:red;
}

@media (max-width:600px){
	#header{
		font-size:5vw;
	}
	#message-feed{
		font-family:Helvetica;
		font-size:5vw;
		height:80vh;
	}
	.room-name{
		font-size:1rem;
	}
	#input-field{
		width:95%;
	}

}

